.products-new {
    padding: rem(45) 0px 0px 0px;
    position: relative;
    background: url('../../img/base/new-products/bg.jpg') bottom / cover
        no-repeat;
    &::before {
        content: '';
        background-color: #fff;
        position: absolute;
        height: rem(46);
        top: 0;
        right: 0;
        width: percent(1030, 1920);
    }
    &__inner {
        @include adaptiveValue('padding-top', 55, 20);
        @include adaptiveValue('padding-bottom', 55, 20);
    }
    &__container {
        display: grid;
        grid-template-columns: rem(400) 1fr;
        align-items: start;
    }
    &__body {
        @include adaptiveValue('padding-right', 70, 20, 1630, 992, 1);
    }
    &__section {
        position: relative;
        z-index: 2;
    }
    &__title {
        color: #fff;
        font-weight: bold;
        font-size: rem(30);
        line-height: math.div(46, 30);
        letter-spacing: 0.05em;
        &:not(:last-child) {
            margin-bottom: em(30, 30);
        }
    }
    &__text {
        font-size: rem(18);
        line-height: math.div(27, 18);
        letter-spacing: 0.03em;
        color: rgba(255, 255, 255, 0.7);
        &:not(:last-child) {
            @include adaptiveValue('margin-bottom', 60, 20);
        }
    }
    &__link {
        &::before {
            margin: 0px 0px 0px rem(20);
        }
    }
    &__content {
        min-width: 0;
        padding: rem(37) 0px 0px 0px;
    }
    &__slider {
    }
    &__wrapper {
        &:not(:last-child) {
            @include adaptiveValue('margin-bottom', 50, 20);
        }
    }
    &__slide {
    }
    &__dotts {
        position: relative;
        z-index: 2;
    }
}
