@import '../base/rating.scss';

.products-slider {
    &__container {
    }
    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        &:not(:last-child) {
            @include adaptiveValue('margin-bottom', 50, 30);
        }
    }
    &__title {
        color: $black;
        font-weight: 700;
        font-size: rem(30);
        letter-spacing: 0.05em;
    }
    &__slider {
        padding: rem(15) rem(20);
        margin: 0px rem(-20);
    }
    &__wrapper {
        &:not(:last-child) {
            margin-bottom: rem(50);
        }
    }
    &__slide {
    }
    &__more {
        color: rgba(20, 20, 20, 0.58);
        font-weight: 600;
        font-size: rem(18);
        display: inline-flex;
        align-items: center;
        gap: em(15, 18);
        transition: color 0.3s ease 0s;
        &::after {
            @extend %ic;
            content: '\e900';
            color: $orange;
            transform: rotate(-90deg);
            font-size: em(7, 18);
        }
        @media (any-hover: hover) {
            &:hover {
                color: rgba(20, 20, 20, 1);
            }
        }
    }
    &__dotts {
        display: grid;
        grid-auto-flow: column;
        justify-content: center;
        gap: rem(15);
        transform: translate(0px, 10%);
        .swiper-pagination-bullet {
            cursor: pointer;
            height: rem(30);
            width: rem(18);
            position: relative;
            transition: all 0.3s ease 0s;
            &::before {
                content: '';
                position: absolute;
                width: rem(10);
                height: rem(10);
                border-radius: 50%;
                top: 50%;
                left: 0;
                transform: translate(0px, -50%);
                background-color: $orange;
                opacity: 0;
            }
            &::after {
                content: '';
                position: absolute;
                height: rem(2);
                width: 100%;
                top: 50%;
                transform: translate(0px, -50%);
                background-color: #898989;
            }
        }
        .swiper-pagination-bullet-active {
            width: rem(30);
            &::before {
                transition: left 3s linear 0s;
                opacity: 1;
                left: rem(20);
            }
            &::after {
                background-color: $orange;
            }
        }
    }
}
.product-card {
    height: 100%;
    display: grid;
    grid-template-rows: auto 1fr;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    background: #fefefe;
    transition: box-shadow 0.3s ease 0s;
    @media (any-hover: hover) {
        &:hover {
            box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.2);
        }
    }
    &__image {
        @include adaptiveValue('padding-top', 25, 15);
        @include adaptiveValue('padding-bottom', 25, 15);
        @include adaptiveValue('padding-right', 50, 15);
        @include adaptiveValue('padding-left', 50, 15);
    }
    &__item-image-ibg {
        display: block;
        padding-bottom: percent(240, 270);
    }
    &__body {
        display: flex;
        flex-direction: column;
        padding: rem(20);
    }
    &__title {
        flex: 1 1 auto;
        font-weight: 600;
        font-size: rem(20);
        line-height: math.div(34, 20);
        color: $black;
        &:not(:last-child) {
            margin-bottom: em(10, 20);
        }
        @media (any-hover: hover) {
            &:hover {
                text-decoration: underline;
            }
        }
    }
    &__link-title {
    }
    &__info {
        &:not(:last-child) {
            margin-bottom: em(15, 16);
        }
    }
    &__rating {
        justify-content: space-between;
        &:not(:last-child) {
            margin-bottom: rem(26);
        }
    }
    &__footer {
        border-top: 1px solid rgba(20, 20, 20, 0.5);
        padding: rem(20) 0px;
        display: flex;
        align-items: center;
        gap: rem(15);
    }
    &__price {
        flex: 1 1 auto;
        font-weight: 600;
        font-size: rem(20);
        line-height: math.div(34, 20);
        color: $black;
    }
    &__compare,
    &__favorite {
        font-size: rem(24);
        transition: color 0.3s ease 0s;
        @media (any-hover: hover) {
            &:hover {
                color: $orange;
            }
        }
    }
    &__compare {
    }
    &__favorite {
    }
    &__cart {
        width: 100%;
        span {
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            justify-content: center;
            &::before {
                margin: 0px 0px 0px rem(16);
            }
        }
    }
}
.info-product-card {
    display: flex;
    justify-content: space-between;
    gap: rem(10);
    font-weight: 600;
    font-size: rem(16);
    color: #ababab;
    &__size {
    }
    &__materials {
    }
}
