[class*='-ibg'] {
    position: relative;
    img {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        object-fit: cover;
    }
}
[class*='-ibg_contain'] {
    img {
        object-fit: contain;
    }
}
.button {
    text-align: center;
    display: inline-block;
    background-color: $orange;
    box-shadow: 0px 4px 20px rgba(232, 170, 49, 0.43);
    border-radius: 3px;
    font-weight: 600;
    font-size: rem(20);
    padding: rem(8) rem(52);
    line-height: math.div(32, 20);
    color: #fff;
    transition: box-shadow 0.3s ease 0s;
    @media (any-hover: hover) {
        &:hover {
            box-shadow: 0px 4px 25px rgba(232, 170, 49, 0.63);
        }
    }
}
.link-arrow {
    display: inline-flex;
    flex-direction: row-reverse;
    align-items: center;
    color: $orange;
    font-size: rem(20);
    font-weight: 600;
    &::before {
        margin: 0px 0px 0px em(20, 20);
        transform: rotate(-90deg);
        font-size: rem(8);
    }
    @media (any-hover: hover) {
        &:hover {
            span {
                text-decoration: underline;
            }
        }
    }
}
.dotts {
    margin: 0 auto;
    overflow: hidden;
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    .swiper-pagination-bullet {
        margin: 0px rem(7.5);
        cursor: pointer;
        height: rem(30);
        width: rem(18);
        position: relative;
        transition: all 0.3s ease 0s;
        &::before {
            content: '';
            position: absolute;
            width: rem(10);
            height: rem(10);
            border-radius: 50%;
            top: 50%;
            left: 0;
            transform: translate(0px, -50%);
            background-color: $orange;
            opacity: 0;
        }
        &::after {
            content: '';
            position: absolute;
            height: rem(2);
            width: 100%;
            top: 50%;
            transform: translate(0px, -50%);
            background-color: #898989;
        }
    }
    .swiper-pagination-bullet-active {
        &::before {
            transition: left 3s linear 0s;
            opacity: 1;
            left: rem(8);
        }
        &::after {
            background-color: $orange;
        }
    }
}
.breadcrumbs {
    white-space: nowrap;
    overflow: auto;
    height: rem(22);
    &__list {
        display: flex;
        &:not(:last-child) {
            margin-bottom: rem(30);
        }
    }
    &__item {
    }
    &__link {
        opacity: 0.5;
        display: flex;
        align-items: center;
        &::after {
            content: '\e900';
            @extend %ic;
            transform: rotate(-90deg);
            font-size: rem(6);
            margin: 0px em(10, 6);
        }
    }
    &__current {
        color: $orange;
    }
}
.title {
    font-weight: 700;
    font-size: rem(24);
    line-height: math.div(29, 24);
    &:not(:last-child) {
        margin-bottom: em(25, 24);
    }
}
