.page {
    &__catalog-cards {
    }
}
.catalog-cards {
    @include adaptiveValue('padding-top', 100, 30);
    @include adaptiveValue('padding-bottom', 70, 30);
    &__container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(rem(280), 1fr));
    }
    &__item {
    }
}
.item-catalog-cards {
    overflow: hidden;
    min-height: rem(290);
    padding: rem(30);
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
    position: relative;
    &__body {
        position: relative;
        z-index: 2;
        &:not(:last-child) {
            margin-bottom: rem(20);
        }
    }
    &__title {
        &:not(:last-child) {
            margin-bottom: em(30, 24);
        }
    }
    &__link-title {
        display: inline-block;
        font-weight: 600;
        font-size: rem(24);
        line-height: math.div(34, 24);
        &::after {
            content: '';
            margin: rem(15) 0px 0px 0px;
            display: block;
            width: rem(70);
            height: rem(2);
            background-color: $orange;
            transition: width 0.3s ease 0s;
        }
        @media (any-hover: hover) {
            &:hover {
                &::after {
                    width: 100%;
                }
            }
        }
    }
    &__list {
    }
    &__item {
        position: relative;
        padding: 0px 0px 0px rem(20);
        &::before {
            content: '';
            width: rem(6);
            height: rem(6);
            background-color: $orange;
            border-radius: 50%;
            position: absolute;
            top: em(8, 18);
            left: 0;
        }
        &:not(:last-child) {
            margin-bottom: rem(10);
        }
    }
    &__link {
        font-size: rem(18);
        line-height: math.div(24, 18);
        @media (any-hover: hover) {
            &:hover {
                text-decoration: underline;
            }
        }
    }
    &__image {
        width: 100%;
        text-align: right;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        img {
            max-width: 100%;
        }
        @media (min-width: $mobileSmall) {
            position: absolute;
            height: 100%;
            top: 0;
            right: 0;
        }
    }
}
