.footer {
    background-color: $black;
    &__text {
        background: url('../../img/base/footer/background.png') top / cover
            no-repeat;
    }
    &__container {
    }
    &__body {
    }
}
.text-footer {
    @include adaptiveValue('padding-top', 60, 40);
    @include adaptiveValue('padding-bottom', 60, 40);
    &__container {
    }
    &__title {
        text-align: center;
        font-weight: bold;
        line-height: math.div(46, 30);
        color: $orange;
        @include adaptiveValue('font-size', 30, 24);
        &:not(:last-child) {
            margin-bottom: em(30, 30);
        }
    }
    &__text {
        color: #fff;
        @include adaptiveValue('font-size', 18, 16);
        line-height: math.div(27, 18);
    }
}
.body-footer {
    @include adaptiveValue('padding-top', 100, 40);
    @include adaptiveValue('padding-bottom', 50, 40);
    display: grid;
    @include adaptiveValue('gap', 40, 20);
    &__row {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(rem(290), 1fr));
        column-gap: rem(40);
        @include adaptiveValue('row-gap', 40, 20);
        &:not(:last-child) {
            padding: 0px 0px rem(30) 0px;
            border-bottom: 1px solid rgba(255, 255, 255, 0.5);
        }
    }
    &__item {
    }
}
.item-footer {
    &__spoller {
    }
}
.spoller-item-footer {
    &__item {
    }
    &__title {
        text-transform: uppercase;
        color: #fff;
        font-weight: 600;
        line-height: math.div(22, 18);
        ._spoller-init & {
            width: 100%;
            display: flex;
            justify-content: space-between;
            gap: rem(10);
            &::after {
                content: '\e900';
                @extend %ic;
                font-size: rem(8);
                margin-top: em(5, 8);
                transition: transform 0.4s ease 0s;
            }
            &._spoller-active {
                &::after {
                    transform: rotate(-180deg);
                }
            }
        }
    }
    &__body {
        @include adaptiveValue('padding-top', 30, 20);
        @include adaptiveValue('padding-bottom', 30, 20);
    }
    &__text {
        max-width: rem(320);
        line-height: math.div(27, 18);
        color: rgba(255, 255, 255, 0.8);
        a {
            color: $orange;
            @media (any-hover: hover) {
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}
.menu-footer {
    &:not(:last-child) {
        @include adaptiveValue('margin-bottom', 32, 20);
    }
    &__list {
    }
    &__item {
        line-height: 1.5;
        display: flex;
        color: rgba(255, 255, 255, 0.8);
        &:not(:last-child) {
            margin-bottom: em(20, 18);
        }
        &::before {
            font-size: rem(20);
            margin: em(5, 15) em(10, 15) 0px 0px;
        }
    }
    &__link {
        display: inline-flex;
        line-height: math.div(27, 18);
        color: rgba(255, 255, 255, 0.8);
        &::before {
            font-size: rem(20);
            margin: em(5, 15) em(10, 15) 0px 0px;
        }
        &._icon-footer-email {
            &::before {
                font-size: rem(13);
            }
        }
    }
}
.social-footer {
    display: flex;
    gap: rem(24);
    &__item {
    }
    &__link {
    }
}
.footer-subscribe {
    &__label {
        display: block;
        line-height: math.div(22, 18);
        color: rgba(255, 255, 255, 0.8);
        &:not(:last-child) {
            margin-bottom: em(22, 18);
        }
    }
    &__line {
        position: relative;
        display: flex;
        .form__error {
            position: absolute;
            bottom: -15px;
            font-size: rem(10);
            color: red;
        }
    }
    &__input {
        background: rgba(255, 255, 255, 0.05);
        height: rem(48);
        padding: 0px rem(20);
        color: rgba(255, 255, 255, 0.52);
        width: 100%;
        border: 1px solid #fff;
        border-right: none;
        border-radius: rem(3) 0px 0px rem(3);
    }
    &__button {
        flex: 0 0 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $orange;
        border-radius: 0px rem(3) rem(3) 0px;
        &::before {
            color: #fff;
            font-size: rem(8);
            transform: rotate(-90deg);
        }
    }
}
