.footer {
    background-color: $black;
    &__text {
        background: url('../../img/base/footer/background.png') top / cover
            no-repeat;
    }
    &__container {
    }
    &__body {
    }
}
.text-footer {
    @include adaptiveValue('padding-top', 60, 40);
    @include adaptiveValue('padding-bottom', 60, 40);
    &__container {
    }
    &__title {
        text-align: center;
        font-weight: bold;
        line-height: math.div(46, 30);
        color: $orange;
        @include adaptiveValue('font-size', 30, 24);
        &:not(:last-child) {
            margin-bottom: em(30, 30);
        }
    }
    &__text {
        color: #fff;
        @include adaptiveValue('font-size', 18, 16);
        line-height: math.div(27, 18);
    }
}
.body-footer {
    @include adaptiveValue('padding-top', 100, 40);
    @include adaptiveValue('padding-bottom', 50, 40);
    display: grid;
    gap: rem(35);
    &__row {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(rem(290), 1fr));
        gap: rem(40);
        &:not(:last-child) {
            padding: 0px rem(30) 0px 0px;
            border-bottom: 1px solid rgba(255, 255, 255, 0.5);
        }
    }
    &__item {
    }
}
.item-footer {
    &__spoller {
    }
}
.spoller-item-footer {
    &__item {
    }
    &__title {
        text-transform: uppercase;
        color: #fff;
        line-height: math.div(22, 18);
        &:not(:last-child) {
            margin-bottom: em(30, 18);
        }
    }
    &__body {
    }
}
.menu-footer {
    &__list {
    }
    &__item {
        &:not(:last-child) {
            margin-bottom: em(20, 18);
        }
    }
    &__link {
        line-height: math.div(27, 18);
        color: rgba(255, 255, 255, 0.8);
    }
}
