.page {
    &__main-block {
    }
}
.main-block {
    background: url('../../img/main-block/background.jpg') center / cover
        no-repeat;
    @include adaptiveValue('padding-top', 40, 20);
    @include adaptiveValue('padding-bottom', 60, 20);
    &__container {
    }
    &__body {
        display: grid;
        grid-template-columns: 1fr percent(635, 1600);
    }
    &__slider {
    }
    &__swiper {
    }
    &__slide {
    }
    &__media {
    }
    &__advantages {
    }
}
.slide-main-block {
    &__content {
        color: #fff;
        padding: 0px rem(40) 0px 0px;
        &:not(:last-child) {
            @include adaptiveValue('margin-bottom', 60, 30);
        }
    }
    &__title {
        font-weight: 700;
        font-size: rem(36);
        line-height: math.div(46, 36);
        letter-spacing: 0.03em;
        &:not(:last-child) {
            margin-bottom: em(15, 36);
        }
    }
    &__sub-title {
        font-size: rem(36);
        line-height: math.div(46, 36);
        letter-spacing: 0.03em;
        &:not(:last-child) {
            margin-bottom: em(30, 36);
        }
    }
    &__text {
        color: rgba(255, 255, 255, 0.7);
        font-size: rem(20);
        line-height: math.div(30, 20);
    }
    &__button {
    }
}
.media-main-block {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: rem(15);
    &__image {
        position: relative;
        img {
            position: relative;
            z-index: 2;
        }
        &::before {
            content: '';
            position: absolute;
            width: 423px;
            height: 423px;
            border: 2px solid rgba(255, 255, 255, 0.5);
            border-radius: 50%;
            bottom: 1%;
            right: 0;
            transform: translate(percent(131, 423), 0px);
        }
    }
    &__tips {
    }
    &__tip {
        &_1 {
        }
        &_2 {
        }
        &_3 {
        }
    }
}
.advantages-main {
    &__item {
    }
    &__icon {
    }
    &__text {
        color: #fff;
    }
}
