.page {
    &__main-block {
    }
}
.main-block {
    background: url('../../img/main-block/background.jpg') center / cover
        no-repeat;
    @include adaptiveValue('padding-top', 40, 20);
    @include adaptiveValue('padding-bottom', 60, 20);
    &__container {
    }
    &__body {
        display: grid;
        align-items: start;
        grid-template-columns: 1fr percent(635, 1600);
    }
    &__slider {
        margin: 0px rem(-30);
        padding: 0px rem(30);
    }
    &__swiper {
        &:not(:last-child) {
            margin-bottom: rem(30);
        }
        &.swiper-wrapper {
            height: auto;
        }
    }
    &__slide {
    }
    &__media {
    }
    &__advantages {
    }
    &__controll {
    }
}
.controll-main-block {
    display: inline-grid;
    grid-auto-flow: column;
    align-items: center;
    gap: rem(20);
    &__dotts {
        display: inline-grid;
        grid-auto-flow: column;
        gap: rem(15);
        .swiper-pagination-bullet {
            width: 15px;
            height: 2px;
            background-color: #fff;
        }
        .swiper-pagination-bullet-active {
            position: relative;
            background-color: $orange;
            &::before {
                content: '';
                position: absolute;
                width: rem(10);
                height: rem(10);
                border-radius: 50%;
                top: 50%;
                left: 0;
                transform: translate(0px, -50%);
                background-color: $orange;
            }
        }
    }
    &__fraction {
        display: flex;
        color: #fff;
    }
}
.fraction-controll {
    &__current {
    }
    &__all {
    }
}
.slide-main-block {
    &__content {
        color: #fff;
        padding: 0px rem(40) 0px 0px;
        &:not(:last-child) {
            @include adaptiveValue('margin-bottom', 60, 30);
        }
    }
    &__title {
        font-weight: 700;
        font-size: rem(36);
        line-height: math.div(46, 36);
        letter-spacing: 0.03em;
        &:not(:last-child) {
            margin-bottom: em(15, 36);
        }
    }
    &__sub-title {
        font-size: rem(36);
        line-height: math.div(46, 36);
        letter-spacing: 0.03em;
        &:not(:last-child) {
            margin-bottom: em(30, 36);
        }
    }
    &__text {
        color: rgba(255, 255, 255, 0.7);
        font-size: rem(20);
        line-height: math.div(30, 20);
    }
    &__button {
    }
}
.media-main-block {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: rem(15);
    &__body {
        position: relative;
    }
    &__image {
        img {
            position: relative;
            z-index: 2;
        }
        &::before {
            content: '';
            position: absolute;
            width: 423px;
            height: 423px;
            border: 2px solid rgba(255, 255, 255, 0.5);
            border-radius: 50%;
            bottom: 3.5%;
            right: 0;
            transform: translate(percent(131, 423), 0px);
        }
    }
    &__tips {
        z-index: 5;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }
    &__tip {
        cursor: pointer;
        position: absolute;
        width: rem(20);
        height: rem(20);
        transition: transform 0.3s ease 0s;
        span {
            position: relative;
            z-index: 2;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #fff;
            font-weight: 600;
            font-size: rem(20);
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
        }
        @media (any-hover: hover) {
            &:hover {
                transform: rotate(-180deg);
            }
        }
        &::before,
        &::after {
            content: '';
            border-radius: 50%;
            background-color: $orange;
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
        }
        &::after {
            opacity: 0.5;
            transform: scale(1.6);
        }
        &_1 {
            top: percent(186, 500);
            left: percent(72, 477);
        }
        &_2 {
            top: percent(57, 500);
            right: percent(13, 477);
        }
        &_3 {
            bottom: percent(115, 500);
            right: percent(28, 477);
        }
    }
}
.advantages-main {
    &__item {
    }
    &__icon {
    }
    &__text {
        color: #fff;
    }
}
